### Gross Revenue가 가장 큰 UserID 10개 찾기

In [ ]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

In [ ]:
## 최종 결과 쿼리

%%sql

SELECT userid
FROM (
  SELECT userid, SUM(amount)
  FROM raw_data.user_session_channel usc
  JOIN raw_data.session_transaction st ON usc.sessionid = st.sessionid
  GROUP BY usc.userid
  ORDER BY 2 DESC
  LIMIT 10
);

 * postgresql://soooojin_lee:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989,),
 (772,),
 (1615,),
 (654,),
 (1651,),
 (973,),
 (262,),
 (1099,),
 (2682,),
 (891,)]